{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% if socialaccount.providers  %}
<p>If you have a third party account, you can click the corresponding button to sign in below.</p>
<p>If you do not have an account you can create one here: <a href="{{ signup_url }}">Sign Up</a></p>

{% include "socialaccount/snippets/provider_list.html" with process="login" %}

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% include 'snippets/form.html' %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
    <button class="btn btn-default" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
