{% extends "base.html" %}

{% load bootstrap3 %}

{% block head_title %}{{owner.get_username}}'s Playlists{% endblock %}

{% block content %}
<h1>
    <div class="pull-left">
    {% if owner %}
        {% if user.id == owner.id %}
        Your
        {% else %}
        {{owner.get_username}}'s
        {% endif %}
    {% endif %}
    Playlists
    </div>
    {% if user.is_authenticated %}
    <form class="form-inline" action="{% url 'playlist:create' user.id %}">
        <button class="btn btn-default" type="submit">{% bootstrap_icon 'plus' %}</button>
    </form>
    {% endif %}
    <div class="clearfix"></div>
</h1>
{% include 'playlist/snippets/playlist.html' %}
{% endblock %}