{% extends "base.html" %}

{% load bootstrap3 %}

{% block head_title %}{% if playlist %}{{playlist.name}} {% endif %}Songs{% endblock %}

{% block content %}
<h1>
    <div class="pull-left">
        {% if playlist %}
        {{playlist.name}}
        {% endif %}
        Songs
        {% if playlist %}
        ({{playlist.song_count}})
        {% endif %}
    </div>
    {% if owner and user.is_authenticated and user.id == owner.id %}
    <form class="form-inline" action="{% url 'song:create' owner.id playlist.id %}">
        <button class="btn btn-default" type="submit">{% bootstrap_icon 'plus' %}</button>
    </form>
    {% endif %}
    <div class="clearfix"></div>
</h1>
{% include 'song/snippets/song.html' %}
{% endblock %}