{% extends "base.html" %}

{% block head_title %}Home{% endblock %}

{% block content_outer %}
<div class="jumbotron">
    <div class="container">
    <h1>Playlist Manager</h1>
    <p>Welcome to the web application that let's you create, manage and share playlists!</p>
    {% if user.is_authenticated %}
    <form action="{% url 'playlist:create' user.id %}">
        <button class="btn btn-default btn-lg" type="submit">Create Playlist</button>
    </form>
    {% else %}
    <form action="{% url 'account_signup' %}">
        <button class="btn btn-default btn-lg" type="submit">Signup</button>
    </form>
    {% endif %}
    </div>
</div>
<div class="container">
    <h1>Latest Added Songs</h1>
    {% include 'song/snippets/song.html' %}
    <form action="{% url 'core:song' %}">
        <button class="btn btn-default" type="submit">View More Songs >></button>
    </form>
    <h1>Latest Created Playlists</h1>
    {% include 'playlist/snippets/playlist.html' %}
    <form action="{% url 'core:playlist' %}">
        <button class="btn btn-default" type="submit">View More Playlists >></button>
    </form>
</div>
{% endblock %}