{% load bootstrap3 %}
<table id="playlist-table-sortable" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Songs</th>
            {% if not owner %}
            <th>Creator</th>
            {% endif %}
            <th>Created</th>
            <th>Updated</th>
            {% if user.is_authenticated and user.id == owner.id %}
            <th>Edit</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for playlist in playlists %}
    <tr>
        <td><a href="{% url 'song:all' playlist.user.id playlist.id %}">{{playlist.name}}</a></td>
        <td>{{playlist.song_count}}</td>
        {% if not owner %}
        <td><a href="{% url 'playlist:all' playlist.user.id %}">{{playlist.user.get_username}}</a></td>
        {% endif %}
        <td>{{playlist.created_at}}</td>
        <td>{{playlist.updated_at}}</td>
        {% if user.is_authenticated and user.id == owner.id %}
        <td class="table-edit">
            <div class="pull-left">
                <form class="form-inline" action="{% url 'playlist:edit' user.id playlist.id %}">
                    <button class="btn btn-default" ="submit">{% bootstrap_icon 'edit' %} Edit</button>
                </form>
            </div>
            <form class="form-inline" action="{% url 'playlist:one' user.id playlist.id %}?action=delete" method="post">
                {% csrf_token %}
                <button class="btn btn-default" type="submit" onclick="return (confirm('Are you sure you want to delete?'));">{% bootstrap_icon 'trash' %} Delete</button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<script>
$(document).ready(function()
{
    $("#playlist-table-sortable").tablesorter({
        theme: 'bootstrap',
        widthFixed: true,
        headerTemplate: '{content} {icon}',
        widgets: ['uitheme'],
    });
});
</script>